@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 1rem;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

h3 {
    font-family: 'Spicy Rice', cursive;
    font-size: 4rem;
    color: #12005e;
    animation-name: titleTextAnimation;
    animation-duration: 42s;
    animation-iteration-count: infinite;
}

@keyframes titleTextAnimation {
    0% {
        color: #12005e;
    }

    25% {
        color: #ab47bc;
    }

    50% {
        color: #e1bee7;
    }

    75% {
        color: #ab47bc;
    }

    100% {
        color: #12005e;
    }
}

.puzzle-element {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    display: flex;
    flex: 0 32%;
    height: 100px;
    margin-bottom: 2%; /* (100-32*3)/2 */
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background: #f3e5f5;
    color: #12005e;
    border-radius: 10px;
}

.placeholder-element {
    display: flex;
    flex: 0 32%;
    height: 100px;
    margin-bottom: 2%; /* (100-32*3)/2 */
    justify-content: center;
    align-items: center;
    background: #f3e5f5;
    font-size: 1rem;
    color: #12005e;
    border-radius: 10px;
}

.puzzle-container {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
}

.solver-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.solver-controls {
    text-align: left;
}

.puzzle-grid {
    display: grid;
    row-gap: 4px;
    column-gap: 4px;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(3, minmax(100px, 1fr));
}

.root-grid {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 20rem);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2%;
    column-gap: 5%;
}

.output-grid {
    grid-column: span 2 / auto;
}

.move-icon {
    font-size: 42px !important;
    color: #ab47bc;
}

.step-container {
    display: flex;
    grid-column: span 2 / auto;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.step-container-grid {
    
}

.step {
    display: inline-grid;
    height: 24%;
    background: #f3e5f5;
    font-size: 1rem;
    color: #12005e;
    border-radius: 10px;
    align-items: center;
    justify-items: center; /* adjusted */
    margin-right: 4.2px;
}

.step-card-grid {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, auto);
    margin-left: 0.8rem;
}

.step-direction-text {
    justify-content: center;
    align-items: center;
    grid-column: 2;
    text-align: center;
}

.grid-parent {
    align-self: center;
    justify-self: center;
}

p {
    margin: 0px;
    text-align: left;
}

.step-puzzle-element-num {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    align-self: center;
    justify-self: center;
    grid-row: span 2 / auto;
    font-size: 30px;
}

.solve-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #f3e5f5;
    background-color: #12005e;
    border-radius: 4px;
    border: none;
}

.error {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #ff1744;
    font-size: 1rem;
    width: 100%;
    margin: 0;
}

.nav-icon {
    margin-right: 4.2px; 
}